* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, #2c0cdf, #7f6fdb
    );
}

header {
    display: flex;
    justify-content: center;
    padding-top: 200px;
}

h1 {
    margin-bottom: 100px;
    color: black;
}

.inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 770px;
    margin: 0 auto;
}

.input {
    flex: 1 1 40%;
    margin: 15px;
    background: none;
    appearance: none;
    background-color: #fff;
    border-radius: 15px;
    padding: 15px;
    border: none;
    outline: none;
    transition: 0.4s;
}

.input:focus {
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.2);
}